@import url('https://fonts.googleapis.com/css?family=Oxygen:300,400,700&display=swap');
@import "../config/icons";


* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	box-sizing: border-box;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;

	&:active,
	&:focus {
		outline: none;
	}
}

ol, ul {
	list-style: none;
}

a {
	color: inherit;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	border: 0;
	-ms-interpolation-mode: bicubic;
}

h1, h2, h3, h4, h5, h6 {
	font: inherit;
	margin: 0;
}

blockquote, q {
	quotes: none;

	&:before,
	&:after {
		content: '';
		content: none;
	}
}

textarea {
	resize: none;
	overflow: auto;
}

input {
	&[type="search"] {
		&::-webkit-search-cancel-button,
		&::-webkit-search-decoration {
			-webkit-appearance: none;
		}

		&::-webkit-inner-spin-button,
		&::-webkit-outer-spin-button {
			height: auto;
		}

		&::-ms-clear {
			display: none;
		}
	}
	&[type="submit"] {
		cursor: pointer;
	}
}

label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

[hidden] {
	display: none;
}

section {
	width: 100%;
	position: absolute;
	padding: 10px 0;
	background-color: var(--color-bg);
	overflow: hidden;
	box-shadow: 0 1px 33px rgba(0, 0, 0, 0.35);

	@media (min-width: 1000px) {
		position: relative;
		overflow-y: scroll;
		height: 100%;
	}

	&::-webkit-scrollbar {
		width: 4px;
	}

	&::-webkit-scrollbar-track {
		background: #ddd;
		width: 2px;
	}

	&::-webkit-scrollbar-thumb {
		background: var(--color-accent-contrast-higher);
	}

	&:before {
		@media (min-width: 1000px) {
			content: '';
			display: inline-block;
			position: absolute;
			background: transparent;
			width: 110px;
			height: 110px;
			border-top: 3px solid var(--color-accent-contrast-higher);
			border-left: 3px solid var(--color-accent-contrast-higher);
			left: 20px;
			top: 20px;
			z-index: 0;
		}
	}
}